body {
    background: url(/imgs/bg.jpg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

main #imagem {
    background: url(/imgs/game.png) no-repeat center center;
}